/*
  ========================================
  Box
  ========================================
*/
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.body {
	margin: 0 auto;
	border-radius: 5px;
	padding: 0;
	width: 960px;
	background-image: url("fjörður_breytt.jpg");
}
.header {
	margin: 0;
	border: 0;
	padding: 20px 0px;
	text-align: left;
	padding-left: 70px;
	font-size: 20px;
}
.efnisyfirlit {
	margin: 0;
	border: 0;
	padding: 0;
	background-color: #4169e1;
}
.meginmal {
	margin: 0 auto;
	border: 0;
	padding: 10px 20px 20px 20px;
	background-color: #87ceeb;
}
.footer {
	margin: 0;
	border-top: 15px solid #4169e1;
	padding: 0;
	text-align: center;
	background-color: #87ceeb;
}
.col-2-3 {
	display: inline-block;
	margin: 0 auto;
	padding: 10px 10px 0 10px;
	width: 55%;
	float: left;
}
.col-1-3 {
	display: inline:block;
	margin: 0 auto;
	padding: 15px;
	width: 55%;
	float: left;
}
.logo
{
	position:absolute;
	top: 0;
    left: 0;
    height: 3em;
    width: 3em;
}
.group:before, /*.clearfix til að lenda ekki container collapse þegar börnin fljóta*/
.group:after {
	content: "";
 	display: table;
}
.group:after {
 	clear: both;
}
.group {
 	clear: both;
 	*zoom: 1;
}
.herbergi {
	text-align: center;
	font-size: 30px;
	padding-left: 30px;
}
.skraning {
	border: 2px solid #4169e1;
	border-radius: 5px;
}
.takki {
	border: 2px solid #4169e1;
	border-radius: 5px;
}
.skjakynning{
	width: 900px;
}
/*
  ========================================
  Fonts
  ========================================
*/
.body {
	font-color: black;
	font-family: "Didact Gothic", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Linkar
  ========================================
*/
a:hover {
  color: white;
}
a {
  color: black;
}
/*
  ========================================
  Efnisyfirlit
  ========================================
*/
.fellilisti {
  display: none;
}
.takki {
  position: fixed;
  top: .5em;
  right: .5em;
  border: 6px double #999;
  border-radius: 50%;
  color: #000;
  cursor: pointer;
  display: block;
  font-size: 1.5em;
  text-align: right;
  padding: .2em .4em;
  transition: all .4s ease;
  background-color: #eee;
}
input:checked + label {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #eff;
}
header nav {
  position: fixed;
  top: 4.4em;
  right: -16em;   /* þegar input er ekki checked*/
  width: 15em;
  /* max-height: 0;*/
  background: #555;
  overflow: hidden;
  transition: all 1s ease;
}

input:checked ~ header nav {
  right: 1em;
  transition: all 1s ease;
}
.topmenu {
  max-width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.topmenu li {
  list-style-type: none;
  display: inline-block;
  padding: 0.5em 0.5em;
}
.topmenu a {
  display: block;
  background: #555;
  border-radius: 15%;
  color: #fff;
  padding: 0.5em 0.5em;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #999;
  transition-property: background, color;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.topmenu a:hover {
  background: #b0e0e6;
  color: red;
}

/*
  ========================================
  Auglýsing
  ========================================
*/
.auglysing {
  display: table;
  width: 100%;
  height: 10em;
  margin-top: 1em;
  background-color: #4169e1;
  border-radius: .4em;
  box-shadow: inset 0 0 3em #999;
  overflow: hidden;
}
.auglysing a {
  text-decoration: none;
}
.innihald {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.thoughtbot {
  position: relative;
  background-color: red;
  color: white;
  animation: popp 2s 1;
  animation-direction: alternate;
}
.thoughtbot:hover {
  background-color: white;
  color: red;
}
@keyframes popp {
  0% {
    left: 0px;
    top: -500px;
  }
  80% {
    left: 0px;
    top: 20px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}


/*
  ========================================
  Social buttons
  ========================================
*/

.sMedia {
  position: relative;
  height: 3em;
  width: 100%;
}
.sMedia ul {
  list-style-type: none;
  width: 3em;
  margin: 0;
  padding: 0;
}
.sMedia a {
  display: inline-block;
  width: 23%;
  padding: 0;
  color: white;
  text-align: center;
  text-decoration: none;
}
  .sMedia li {
    display: inline-block;
  }
.twitter {
  position: relative;
  height: 3em;
  width: 3em;
  background: rgb(22, 145, 190) url('img/logos.png') 0 0 no-repeat;
  transition: all 1s ease;
}
.facebook {
  position: relative;
  height: 3em;
  width: 3em;
  background: rgb(22, 107, 162) url('img/logos.png') 0 -3.3em no-repeat;
  transition: all 1s ease;
}
.pinterest {
  position: relative;
  height: 3em;
  width: 3em;
  background: rgb(233, 147, 26) url('img/logos.png') 0 -6em no-repeat;
  transition: all 1s ease;
}
.google {
  position: relative;
  height: 3em;
  width: 3em;
  background: rgb(208, 101, 3) url('img/logos.png') 0 -9em no-repeat;
  transition: all 1s ease;
}
/****************************** hover effects ******************/
.twitter:hover {
  background: rgb(151, 218, 242) url('img/logos.png') 0 0 no-repeat;
  transition: all 1s ease;
  width: 4em;
}
.facebook:hover {
  transition: all 1s ease;
  width: 4em;
  background: #32BEED url('img/logos.png') 0 -3.3em no-repeat;
}
.pinterest:hover {
  transition: all 1s ease;
  width: 4em;
  background: #FAC88E url('img/logos.png') 0 -6em no-repeat;
}
.google:hover {
  transition: all 1s ease;
  width: 4em;
  background: #F5C2A9 url('img/logos.png') 0 -9em no-repeat;
}

/*
  ========================================
  Mobile-up - Responsive web design
  ========================================
*/
/*Efnisyfirlitið breytist í fellilista þegar skjásstærð vafrans
 er undir 48em (760px)*/
@media screen and (min-width: 48em)  {
.takki {
    display: none;
  }
header nav {
  position: static;
  width: 100%;
  transition: 0;
}
.topmenu li {
    width: 12%;
}

/*undir 48em eiga dálkarnir tveir að verað að einum dálk
og auglýsingin að vera efst, beint fyrir neðan efnisyfirlitið*/
.col-2-3 {
	display: inline-block;
	margin: 0 auto;
	padding: 10px 10px 0 10px;
	width: 66.66%;
	float: left;
}
.col-1-3 {
	display: inline:block;
	margin: 0 auto;
	padding: 15px;
	width: 33.33%;
	float: right;
}

.logo
{
	position: relative;
	display: inline-block;
	width: 70px;
}
/*Header er í miðjunni í skjástærð yfir 48em,
en í minni skjástærð er text-align: left*/
.header {
	text-align: center;
	padding-left: 0;
}
}

@media screen and (min-width: 60em)  {
.sMedia {
    position: absolute;
    top: 2em;
    left: 0;
    height: 9em;
    width: 3em;
}
.sMedia a {
    display: inline-block;
    width: 100%;
    color: white;
}
}
